
#gallery {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

#gallery li a {
    display: block;
    width: 100px;
    height: 66px;
    background-size: cover;
}

#display {
    margin-top: 20px;
    text-align: center;
}